{% extends 'gameofthrones/base.html' %}

{% block content %}
<main class="px-4 py-3 about-page">
    <div class="container-fluid">
        <h2>About Game of Thrones</h2>

        <p>This Site is the Final Project for a course SI664 of University of Michigan.
        </p>
        <div>LEAD: display all lead characters</div>
        <div>ALL: display all characters</div>
        <div>SEARCH: search characters by name, house or culture</div>
        <div>LOGIN: able to edit characters after login</div>
    </div>
</main>
{% endblock content %}