{% extends 'gameofthrones/base.html' %}

{% block content %}
<main class="px-4 py-3 character-page">
    <div class="container-fluid">
        <article>
            <header>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <h2><b>All Characters</b></h2>
                    </div>
                    <div class="col-sm-4">
                        {% if user.is_authenticated %}
                        <a class="btn btn-outline-secondary" href="{% url 'character_new' %}">new character</a>
                        &nbsp;
                        <a class="btn btn-outline-secondary" href="{% url 'relation_new' %}">new relationship</a>
                        {% else %}
                        <a href="{% url 'login' %}">Log in</a>
                        {% endif %}
                    </div>
                </div>

            </header>

            {% include './pagination.html' %}

            {% if characters %}
            <ul class="row all-character-list">


                {% for character in characters %}
                <li class="col-12 col-md-4">
                    <a href="{% url 'character_detail' character.pk %}">{{ character.full_name | safe }}</a>
                </li>


                {% endfor %}

            </ul>
            {% else %}
            <p>No Characters are available to view.</p>
            {% endif %}

            <p>page count: {{ characters.count }}</p>
        </article>
    </div>
</main>
{% endblock content %}